.cover__overlay{
  position: absolute;
  width: 100%;
  background-size: contain;
  z-index: 1;
  background-color: rgba(42, 44, 47, .3);
  box-sizing: border-box;
  text-decoration: none;
  transition: ease-in .4s;
  height: 100%;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, .8);
}