.lead__main-pic{
  margin-top: 64px;
  object-fit: contain;
  max-width: 100%;
  background-image: url(../../../images/top-shelf.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 62.5%;
}

@media screen and (max-width : 1024px) {
  .lead__main-pic{
    margin-top: 56px;
  }
}

@media screen and (max-width : 320px) {
  .lead__main-pic{
    margin-top: 40px;
  }
}